@media (max-width: 850px) {
  .tasks__title {
    font-size: 25px;
  }
  .tasks__items-row {
    p {
      font-size: 13px;
      margin-left: 10px;
    }
    &-actions {
      opacity: 0.5;
      div {
        margin-left: 0;
      }
      div:hover {
        background-color: inherit;
      }
    }
  }
}

@media (max-width: 750px) {
  .todo {
    height: calc(100vh - 50px);

    &__tasks {
      padding-right: 30px !important;
    }
  }

  .add-list__popup {
    opacity: 0.95;
  }

  .checkbox {
    &:hover {
      label {
        background-color: none;
        border-color: none;
        svg {
          opacity: 0;
        }
      }
    }
  }

  .tasks__title {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .todo__sidebar {
    height: 100%;
    position: absolute;
    padding: 65px 20px 5px 0;
    width: 35px;
    box-sizing: border-box;

    .list i {
      left: 1px;
    }

    .list__add-folder {
      position: relative;
      left: 3px !important;
    }

    .list {
      margin-bottom: 15px;

      &__add-button {
        position: relative;
        left: -2px;
      }

      li {
        width: 10px;

        &:hover .list__remove-icon {
          opacity: 0.3;
        }
        i {
          svg {
            position: relative;
            left: -3px;
          }
        }
        span {
          display: none;
        }
        .list__remove-icon {
          padding-left: 0;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .todo {
    width: 96%;
    height: 96%;
    &__sidebar {
      padding-top: 25px;
    }

    &__tasks {
      padding-top: 20px;
    }
    .tasks {
      &__form {
        &-block {
          button {
            margin-top: 10px;
            margin-right: 5px;
            padding: 7px 15px;
          }
        }
      }
    }
  }
  .tasks__title {
    img {
      width: 12px;
      height: 12px;
    }
  }

  .tasks__items-row-actions {
    div {
      svg {
        width: 12px !important;
        height: 12px !important;
      }
    }
  }
}

@media (max-width: 380px) {
  .todo {
    &__tasks {
      padding-top: 30px;
      padding-right: 0 !important;
    }
  }
  .tasks__title {
    line-height: 20px;
    padding-bottom: 20px;
  }
}
